*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{

    background-color: lightgray;
}
#head{

    background-color:lightgray;
    width:100vw;
    height:10vh;
    position: relative;
    
}
h2{
    padding:1.5rem;
}
i{
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:70%;
    transform: translate(-50%, -50%);
}
#container1{
    background-color: whitesmoke;
    width:100vw;
    height:10vh;
    display:flex;
    justify-content: space-between;
    position: relative;

}
#btn{


    position: absolute;
    left:350px;
    top:30px;
    padding:0.5rem;
    border:none;
    border-radius: 5px;
    background-color: darkslategray;
    color:white;
    font-weight: bold;


}
#country{

    width:300px;
    height:5vh;
    margin:1.5em;
    border:none;
    border-radius: 10px;
    

}
#list{

    width:250px;
    margin:1.5em;
    border:none;
    border-radius: 10px;
    
}
.father{

    background-color: whitesmoke;
     
}
#container2{

    width:100vw;
    background-color: whitesmoke;
    display:flex;
    justify-content: space-evenly;
    margin:0.5em;
}
#container3{
    width:100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin:0.5em;
}
.box1{


    background-color: white;
    font-size: 20px;
    margin:0.5rem;
}
.box1 h3 , p {
    
    padding: 0.5rem;

}
.box2{

    background-color: white;
    font-size: 20px;
    margin:0.5rem; 
}
.box2 h3 , p {

    padding:0.5rem;

}
img{

    border:none;
    border-radius: 10px;
}
.box1 , .box2{

    border:1px solid lightgray;
    border-radius: 15px;

}
#display .flag-img{

    display:block;
    width:45%;
    min-width: 7.5em;
    margin:1.8em auto 1.2em auto;
}
#display{

    text-align: center;
}
#display h2{

    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data{

    margin-bottom: 1em;
    letter-spacing: 0.3px;
}
#display h4{

    display: inline;
    font-weight: 500;
}
#display h3  {

    font-size: 20px;
}

#region{

    text-align: center;
    
}


